
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  background-image: url("https://asset.bucherer.com/image/upload/v1731444000/Rolex_Sky-dweller_November_Banner_cheap_downscaled_rkpjqi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
}

.signup-container {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
}

.input-group input {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #322fea;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.2, 1.2);
}

.login:hover {
  text-decoration: none;
  color: rgb(231, 11, 11);
}

#errorMessage {
  font-size: 14px;
  margin-top: 10px;
}


.input-group {
  position: relative;
}


/* Media Queries */

/* For screens less than 1200px (Tablets and small laptops) */
@media (max-width: 1200px) {
  .signup-container {
    width: 80%;
    left: 0;
  }
}

/* For screens less than 992px (Tablets and large phones) */
@media (max-width: 992px) {
  .signup-container {
    width: 85%;
    left: 0;
    padding: 15px; 
  }

  h2 {
    font-size: 24px; 
  }

  .input-group input {
    padding: 10px;
  }

  button {
    padding: 12px 20px; 
  }
}

/* For screens less than 768px (Smaller tablets and large mobile phones) */
@media (max-width: 768px) {
  .signup-container {
    width: 90%;
    left: 0;
    padding: 10px;
  }

  h2 {
    font-size: 22px;
  }

  .input-group input {
    width: 95%; 
  }

  button {
    padding: 15px; 
  }
}

/* For screens less than 480px (Mobile Phones) */
@media (max-width: 480px) {
  body {
    background-position: center;
  }

  .signup-container {
    width: 100%;
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  .input-group input {
    font-size: 16px; 
  }

  button {
    font-size: 16px;
    padding: 14px; 
  }
}
