/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    background-image: url("https://plus.unsplash.com/premium_photo-1670537439541-d2eb20e1f6ce?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8d2F0Y2glMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .login-container {
    background-color: rgb(85, 86, 85);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative;
    left: 200px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
    color: white;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
  }
  
  .input-group input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #335dde;
    transform: scale(1.2, 1.2);
  }
  
  #errorMessage {
    font-size: 14px;
    margin-top: 10px;
  }